@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Hello World from the Gleis PaaS!</h1>
    <p>The time on the server is @DateTime.Now</p>
</div>

<div class="text-center">
    <p><i><a href="https://gleis.cloud">Deploy your ASP.NET Core web app on the Gleis Platform as a Service</a></i></p>
</div>
